@font-face {
    font-family: 'Shkoder';
    src: url('/src/fonts/Shkoder-1989-Black.otf'),
            url('/src/fonts/Shkoder-1989-Light.otf');
}

$red_color : rgba(242,29,42,1);
$gray_color:rgba(55,58,60,1);
$white_color: rgb(255, 255, 255);
$black_color: rgba(0, 0, 0, 0);
$text_font: 'Comfortaa-Regular';
$text_title: 'Shkoder';